{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="row section">
    <div class="col l3 s6">
      <div class="z-depth-1 center" style="padding: 30px;">
        <h5>Entertainment</h5>
        <h2>{{ entertainment_count }}</h2>
        <a href="{% url 'web:entertainment' %}">View</a>
      </div>
    </div>
    <div class="col l3 s6">
      <div class="z-depth-1 center" style="padding: 30px;">
        <h5>Science</h5>
        <h2>{{ science_count }}</h2>
        <a href="{% url 'web:science' %}">View</a>
      </div>
    </div>
    <div class="col l3 s6">
      <div class="z-depth-1 center" style="padding: 30px;">
        <h5>Music</h5>
        <h2>{{ music_count }}</h2>
        <a href="{% url 'web:music' %}">View</a>
      </div>
    </div>
    <div class="col l3 s6">
      <div class="z-depth-1 center" style="padding: 30px;">
        <h5>Technology</h5>
        <h2>{{ technology_count }}</h2>
        <a href="{% url 'web:technology' %}">View</a>
      </div>
    </div>
  </div>
{% endblock %}