<div class="row">
  {% for item in object_list %}
    <div class="col s12 l6">
      <div class="card" {% if item.image_url %}style="min-height: 550px;"{% endif %}>
        {% if item.image_url %}
          <div class="card-image">
            <img src="{{ item.image_url }}">
            <span class="card-title">{{ item.created_at }}</span>
          </div>
        {% endif %}
        <div class="card-content">
          {% if not item.image_url %}<span class="card-title">{{ item.created_at }}</span>{% endif %}
          {% if item.description %}<p>{{ item.description }}</p>{% endif %}
        </div>
        <div class="card-action">
          <a href="{{ item.url }}">View Site</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<div class="row center">
  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="wave-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
        <li class="disabled"><i class="material-icons">chevron_left</i></li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active waves-effect"><a href="#!">{{ i }} </a></li>
        {% else %}
          <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="wave-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
        <li class="disabled"><i class="material-icons">chevron_right</i></li>
      {% endif %}
    </ul>
  {% endif %}
</div>